section {
    display: flex;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#education {
    flex-direction: column;
}

#t_and_l {
    flex-direction: row;
    justify-content: space-evenly;

}

    #t_and_l article {

    }

td:nth-child(1) {
    text-align: left;
}

td:nth-child(2) {
    text-align: right;
    justify-content: right;
    width: 150px;
}

.dot {
    display: inline-flex;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.filled {
    background-color: black;
}